                /* Глобальные настройки */
html {
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
[hidden] { display: none !important; }
body, button {
    font-family: "Days One", sans-serif;
}
body {
    height: 100%;
    background: url("background.png") center/40% repeat;
}
button {
    background: transparent;
    border: none;
    -webkit-touch-callout: none;
    padding: 0 0;
    color: #000000;
}
a, img { display: block; }
a:active, button:active { transform: scale(0.85); }




                /* Фиксировання шапка и нижняя фиксировання панель навигации*/
#top-header, #nav-bar, #order-btn-box {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    padding: 0.1rem 0;
    max-width: 25rem;
    height: 4rem;
    box-shadow: 0 0 4px #4C4C4C;
    background-color: #00000024;
    backdrop-filter: blur(2px);
    border-radius: 2rem;
    z-index: 1000;
}
#top-header { top: 0.5rem; }
#nav-bar, #order-btn-box { bottom: 0.5rem; }
#logo { height: 94%; }
.nav-btn, .nav-marker { height: 100%; }
.nav-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    font-size: 0.6rem;
}
.nav-icon { width: 2.5rem; height: 2.5rem; }
.nav-marker {
    position: absolute;
    top: 0;
    width: 36%;
    background-color: #00000040;
    transition: 0.3s;
    left: 32%;
    border-radius: 2rem;
}

.nav-btn:nth-child(2), #order-btn { animation: for-order-btn 1.5s infinite}
@keyframes for-order-btn {
    0% { color: #ffffff; }
    50% { color: #000000; transform: scale(1.05); }
    100% { color: #ffffff; }
}




                /* Три основных контейнера, в которых будет весь контент */
.page {
    height: 100%;
    padding: 5rem 0.5rem 10rem;
    max-width: 30rem;
    margin: 0 auto;
}



                /* Контейнер для заказа продукта */
#product-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    text-align: center;
}
                /* Бокс для изменения количества */
#btns-img-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
}
#delete-box {
    width: 3rem;
}
.return-icon { width: 70%;}
.product-img { width: 10rem; height: 6rem; opacity: 0.8; }
#small-q-btns, #big-q-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 5rem;
}
.q-btn {
    background-color: #4C4C4C;
    color: #ffffff;
    padding: 0.6rem;
    border-radius: 1rem;
    margin: 0.2rem 0;
    font-size: 0.9rem;
    text-shadow: 0 0 2px #aa552d;
}

                /* Дисплей с результатами */
#string-btns-box {
    width: 90%;
}
.string-btn {
    display: flex;
    justify-content: space-between;
    background-color: #4C4C4C;
    color: #ffffff;
    margin: 0.2rem;
    padding: 0 5px;
    border-radius: 0.4rem 0.2rem;
    height: 2.2rem;
}
.value { font-size: 1.5rem; }
.sub { font-size: 0.6rem; text-shadow: 0 0 2px #aa552d;}
.hide {
    background-color: #00000050;
    backdrop-filter: blur(4px);
    transform: scale(0.95) translateX(-0.8rem);
}




                /* Форма для отправки заказа */
#form-box {
    display: grid;
}
#form-box input, #form-box select {
    background-color: #00000020;
    backdrop-filter: blur(2px);
    height: 3rem;
    padding: 0 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
}
#order-btn {
    background-color: #00000040;
    backdrop-filter: blur(2px);
    width: 50%;
    margin: 0 auto;
    border-radius: 2rem;
    height: 3rem;
    font-size: 1rem;
}


                /* Первый контейнер с информацией о компании */
#contacts-cntnr {
    display: flex;
    justify-content: space-evenly;
}
#info-page h2 {
    margin-top: 20px;
}